@model IEnumerable<BookShop.Web.ViewModels.Books.AllBooksViewModel>
@{
    ViewData["Title"] = "All";
}

<h2>Книги</h2>
<div class="row">
    @foreach (var book in @Model)
    {
        <div class="col-sm-4 col-md-3 col-xs-6">
            <img src="@book.ImageUrl" width="200px" alt="book" />
            <h5>@book.Name</h5>
            <p>
                @for (var i = 0; i < book.Authors.Length; i++)
                {
                    var author = book.Authors[i];
                    if (i == book.Authors.Length - 1)
                    {
                        <span>@author</span>
                    }
                    else
                    {
                        <span>@author, </span>
                    }
                }
            </p>
            <p>@book.Price.ToString("f2") лв.</p>
        </div>

    }
</div>