@model BookShop.Web.ViewModels.Books.AllBooksViewModel
@{
    ViewData["Title"] = "All";
}

<h2>@ViewData["CategoryName"] Книги</h2>

@await Html.PartialAsync("_AllBooksPartial", Model)

<nav class="mt-4">
    <ul class="pagination">
        @for (var i = 1; i <= Model.Pages; i++)
        {
            <li style="cursor: pointer;" class="page-item  active">
                <a class="page-link" asp-action="All" asp-route-id="@ViewData["CategoryId"]" asp-route-page="@(i - 1)">@i</a>
            </li>
        }
    </ul>
</nav>